* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;

}

body {
    font-family: Arial, sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 10px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.button {
    display: flex;
    gap: 10px;
    /* align-items: center;
    justify-content: center; */
}

.button-1,
.button-2 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 148px;
    height: 43px;
    border: 2px solid black;
    border-radius: 3px;
    cursor: pointer;
}

.logo img {
    width: 75px;
}

.button img {
    width: 25px;
    margin-right: 5px;
}

.pickup-location {
    background-color: #f0f0f0;
    padding: 10px 20px;
    border-radius: 5px;
    margin-left: 10px;
}

.cart-icon {
    position: relative;
    margin-right: 20px;
}

.cart-icon img {
    height: 50px;
}

.cart-count {
    position: absolute;
    top: -5px;
    right: -10px;
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 2px 6px;
    font-size: 12px;
}

.login-btn {
    display: flex;
    align-self: flex-end;
}

.login-btn button {
    background-color: rgb(234, 0, 42);
    color: white;
    padding: 7.5px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.menu-button {
    font-size: 24px;
    background: none;
    border: none;
    cursor: pointer;
}